@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@plugin "@tailwindcss/typography";

@theme {
  /* Colors */
  --color-primary: #ecc813;
  --color-accent-pink: #f472b6;
  --color-warm-gray: #898361;
  --color-background-light: #f8f8f6;
  --color-background-dark: #221f10;

  /* Font Family */
  --font-display: "Inter", "sans-serif";

  /* Border Radius */
  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}


#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100svh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}